.food {
	height: fit-content;
	&__menubar {
		height: 100%;
		border-right: 2px solid orange;

		&__section {
			height: fit-content;
			padding: 0 0.5rem 1rem 0.5rem;
			input {
				padding: 0.25rem 0.6rem;
				width: 90%;
				border: 2px solid orange;
				border-radius: 10px;
			}
			&__title {
				font-size: 1.35rem;
			}
			&__list {
				list-style-type: none;
				padding-left: 0;
				li {
					padding-bottom: 0.2rem;
					a {
						text-decoration: none;
						color: orange;
					}
				}
			}
		}
		@media screen and (max-width: 992px) {
			border-bottom: 1px solid orange;
		}
	}

	&__content {
		&__button {
			text-align: right;
			margin-bottom: 1rem;
			button {
				background-color: orange;
				padding: 0.5rem 0.75rem;
				outline: none;
				border: none;
				border-radius: 10px;
				transition: background-color 0.3s ease-in-out;
				font-weight: bold;
				color: white;
				&:hover {
					background-color: orangered;
				}
			}
		}
		&__section {
			&__title {
				font-size: 1.75rem;
				margin-bottom: 2rem;
			}
			&__pagination {
				display: flex;
				justify-content: center;
			}
			&__list {
				display: grid;
				grid-gap: 2rem 1.5rem;
				grid-template-columns: repeat(3, 1fr);
				margin-bottom: 3rem;
				&__item {
					display: flex;
					flex-direction: column;
					height: 450px;
					padding-bottom: 1rem;
					border: 2px solid rgba(255, 166, 0, 0.5);
					transition: all 0.3s ease-in-out;
					cursor: pointer;
					&__img {
						width: 100%;
						height: 200px;
						object-fit: cover;
					}
					&__context {
						display: flex;
						flex-direction: column;
						padding: 1rem 1rem 0rem 1rem;
						h6 {
							text-transform: uppercase;
							padding-bottom: 0.5rem;
							font-size: 14px;
							font-weight: bold;
						}
						strong {
							font-size: 1.4rem;
							margin-bottom: 1rem;
						}
					}
					&:hover {
						transform: translateY(-8px);
						box-shadow: 0px 6px 14px 2px orange;
					}
				}
				@media screen and (max-width: 992px) {
					grid-template-columns: repeat(2, 1fr);
				}
				@media screen and (max-width: 576px) {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}
		@media screen and (max-width: 992px) {
			margin-top: 2rem;
		}
	}
}
