.home {
	padding: 0;
	&__slideshow {
		height: fit-content;
		position: relative;
		overflow-x: hidden;
		&__container {
			display: flex;
			flex-direction: row;
		}
	}

	&__slide {
		width: 100vw;
		height: 480px;
		background-color: orange;
		display: flex;
		flex-direction: row;
		&__img {
			flex: 1;
			width: 50vw;
			object-fit: cover;
		}
		&__content {
			flex: 1;
			width: 100vw;
			padding: 2rem 1.5rem;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			color: black;
			&__desc {
				margin: 1rem 0;
			}
			&__button {
				width: fit-content;
				padding: 0.5rem 1rem;
				border: none;
				border-radius: 5px;
				background-color: #000;
				color: white;
				transition: background-color 0.3s ease-out;
				&:hover {
					background-color: #242323;
				}
			}
		}
	}
	&__main {
		margin-top: 2rem;
		&__title {
			h3 {
				text-align: center;
				font-weight: bold;
				font-size: 3rem;
			}
		}
		&__search {
			width: 100%;
			height: fit-content;
			text-align: center;
			margin-top: 1rem;
			margin-bottom: 2rem;
			input {
				width: 50%;
				padding: 0.5rem 1rem;
				display: inline-block;
			}
			&__result {
				width: 50%;
				display: block;
				text-align: left;
				padding: 0;
				border: 1px solid rgba(255, 166, 0, 0.562);
				margin: auto;
				list-style-type: none;
				li {
					padding: 0.75rem 1rem;
					width: 100%;
					transition: background-color 0.3s ease-in-out;
					&:hover {
						background-color: #ff8c0081;
					}
				}
			}
		}
		&__cardList {
			padding: 1rem 2.5rem;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 50px 4rem;
			@media screen and (max-width: 992px) {
				grid-template-columns: 1fr;
			}
		}
		&__card {
			position: relative;
			border: 1px solid rgba(0, 0, 0, 0.18);
			border-radius: 5px;
			padding-bottom: 1rem;
			height: fit-content;
			cursor: pointer;
			&__img {
				height: 200px;
				width: 100%;
				object-fit: cover;
			}
			&__category {
				display: block;
				margin-top: 1rem;
				margin-left: 1rem;
			}
			&__name {
				display: inline-block;
				height: 2rem;
				margin-top: 0.5rem;
				margin-left: 1rem;
				font-weight: bold;
				font-size: 1.5rem;
			}
			&__desc {
				display: block;
				height: 100px;
				margin-left: 1rem;
				font-size: 1.3rem;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			&__meal {
				display: block;
				margin-left: 1rem;
			}
			&:hover &__name {
				border-bottom: 1px solid orange;
			}
		}
	}
}
