.home {
	padding: 0;
	&__carousel {
		height: fit-content;
		position: relative;
		overflow-x: hidden;
		&__container {
			display: flex;
			flex-direction: row;
		}
		&__item {
			width: 100vw;
			height: 480px;
			background-color: orange;
			display: flex;
			flex-direction: row;
			&__img {
				flex: 1;
				width: 50vw;
				object-fit: cover;
			}
			&__content {
				flex: 1;
				width: 100vw;
				padding: 2rem 1.5rem;
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				font-size: 1.1rem;
				color: black;
				&__desc {
					margin: 1rem 0;
				}
				&__button {
					width: fit-content;
					padding: 0.5rem 1rem;
					border: none;
					background-color: black;
					transition: background-color 0.3s ease-out;
				}
			}
		}
		&__nav {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;
			button {
				background: white;
				border: none;
			}
			&__button {
				display: flex;
				gap: 1rem;
			}
		}
	}

	&__main {
		position: relative;
		margin-top: 2rem;
		&__title {
			h3 {
				text-align: center;
				font-weight: bold;
				font-size: 3rem;
			}
		}
		&__search {
			position: absolute;
			width: 100%;
			height: fit-content;
			text-align: center;
			margin-top: 1rem;
			margin-bottom: 2rem;
			&__input {
				width: 50%;
				padding: 0.5rem 1rem;
				border: 1px solid orange;
				display: inline-block;
				&:focus {
					outline: none;
					border: 2px solid orange;
				}
			}
			&__result {
				background-color: #ffffff;
				max-height: 200px;
				width: 50%;
				overflow: auto;
				text-align: left;
				padding: 0;
				position: relative;
				z-index: 2;
				border: 1px solid rgba(255, 166, 0, 0.562);
				margin: auto;
				list-style-type: none;
				li {
					height: 4.5rem;
					padding: 0.5rem 0.75rem;
					width: 100%;
					display: flex;
					align-items: center;
					gap: 1rem;
					transition: background-color 0.3s ease-in-out;
					p {
						margin: 0;
						font-size: 1.15rem;
					}
					&:hover {
						background-color: #ff8c0081;
					}
				}
				&__img {
					height: 100%;
					width: 5rem;
				}
			}
		}
		&__category,
		&__cardList {
			&__title {
				text-align: left;
				font-size: 1.75rem;
				margin-bottom: 2.5rem;
			}
			&__link {
				display: block;
				text-decoration: none;
				color: orange;
				cursor: pointer;
				font-size: 1.2rem;
				font-weight: bold;
				margin: 1rem 0 2rem 0;
				&:hover {
					text-decoration: underline #ff8e03;
					color: #ff8e03;
				}
			}
		}
		&__category {
			padding: 7.5rem 2.5rem 3rem 2.5rem;
			&__list {
				display: flex;
				justify-content: center;
				gap: 20px;
				z-index: 1;
				&__item {
					position: relative;
					height: 300px;
					width: 100%;
					border-radius: 20px;
					img {
						width: 100%;
						height: 100%;
						filter: brightness(40%);
						object-fit: cover;
						border-radius: inherit;
					}
					&__content {
						width: 150px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						position: absolute;
						top: 75%;
						left: 50%;
						color: white;
						transform: translate(-50%, -50%);
						a {
							text-decoration: none;
							color: white;
						}
						a:hover {
							text-decoration: underline;
						}
					}
				}
				@media screen and (max-width: 992px) {
					flex-direction: column;
					&__item {
						&__content {
							align-items: baseline;
							left: 15%;
						}
					}
				}
			}
		}
		&__cardList {
			padding: 2rem 2.5rem 3rem 2.5rem;
			&__title {
				text-align: left;
				font-size: 1.75rem;
				margin-bottom: 2.5rem;
			}
			&__feature {
				display: grid;
				grid-gap: 2rem 2rem;
				grid-template-columns: repeat(4, 1fr);
				&__item {
					position: relative;
					height: 360px;
					border: 1px solid rgba(255, 166, 0, 0.678);
					border-radius: 5px;
					padding-bottom: 1rem;
					cursor: pointer;
					transition: all 0.3s ease-in-out;
					&__img {
						border-radius: inherit;
						height: 200px;
						width: 100%;
						object-fit: cover;
					}
					&__fav {
						background-color: #ff8e03;
						position: absolute;
						top: 0.5rem;
						right: 0.5rem;
						height: 3rem;
						aspect-ratio: 1/1;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						button {
							background-color: inherit;
							height: inherit;
							aspect-ratio: inherit;
							border-radius: inherit;
							border: none;
						}
					}
					&__category {
						display: block;
						margin-top: 1rem;
						margin-left: 1rem;
					}
					&__name {
						display: inline-block;
						margin-top: 0.5rem;
						margin-left: 1rem;
						font-size: 1.4rem;
						font-weight: bold;
					}
					&__meal {
						display: block;
						margin-left: 1rem;
					}
					&:hover {
						transform: translateY(-8px);
						box-shadow: 0px 6px 14px 2px orange;
					}
				}
				@media screen and (max-width: 992px) {
					grid-template-columns: repeat(2, 1fr);
				}
				@media screen and (max-width: 576px) {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}
