.profile {
	&__container {
		padding: 2rem 1rem;
		display: flex;
		flex-direction: row;

		&__aside {
			flex: 2;
			background-color: orange;
			border-radius: 20px 0 0 20px;
			&__img {
				height: fit-content;
				display: flex;
				flex-direction: column;
				gap: 20px;
				justify-content: center;
				align-items: center;
				padding: 1rem 0;
				img {
					border-radius: 100%;
					width: 160px;
				}
			}
			&__content {
				margin-top: 1rem;
				&__title {
					text-align: center;
					height: 200px;
				}
				&__menu {
					padding-left: 0;
					list-style-type: none;
					width: 100%;
					li {
						width: 100%;
						transition: background-color 0.3s ease-in-out;
						&:hover {
							background-color: #ff8c00;
						}
						a {
							display: block;
							padding: 1rem 0;
							text-align: center;
							text-decoration: none;
							color: black;
							font-size: 1.4rem;
							cursor: pointer;
						}
					}
				}
			}
		}
		&__main {
			flex: 4;
			border-radius: 0 20px 20px 0;
			border: 2px solid orange;
			padding: 1rem 2rem;
			h2 {
				margin: 1.5rem 0;
			}
			&__about {
				padding-left: 0;
				list-style-type: none;
				li {
					display: flex;
					flex-direction: row;
					width: 100%;
					font-size: 1.1rem;
					strong {
						flex: 1;
					}
					p {
						flex: 4;
					}
				}
			}
		}
	}
}
