.recipe {
	&__container {
		margin-top: 2rem;
		height: fit-content;
		width: 80%;
		margin-bottom: 2rem;
		padding: 1rem;
		&__title {
			padding: 1.5rem 0;
		}
		&__content {
			height: fit-content;
			&__img {
				width: 100%;
				object-fit: contain;
				padding-bottom: 2rem;
			}
			&__desc {
				font-size: 1.25rem;
			}
			&__fav {
				background-color: orange;
				width: 104px;
				height: 52px;
				margin-bottom: 2rem;
				button {
					border: none;
					height: inherit;
					width: inherit;
					background-color: inherit;
					color: white;
				}
				&:hover {
					background-color: rgb(255, 94, 0);
				}
			}
		}
	}
}
