.recipe {
	&__container {
		height: 500px;
		width: 100%;
		margin: 0;
		border-bottom: 1px solid rgba(255, 166, 0, 0.5);
		margin-bottom: 4rem;
		&__summary {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&__title {
				padding: 1.5rem 0;
			}
			&__author {
				text-transform: uppercase;
			}
			&__date {
				font-size: 12px;
			}
			&__fav {
				width: 150px;
				height: 60px;
				margin: 2rem 0;
				transition: background-color 0.3s ease-in-out;
				&:hover {
					background-color: orange;
				}
				button {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					border: none;
					height: inherit;
					width: inherit;
					background-color: inherit;
				}
			}
			&__review {
				display: flex;
				align-items: center;
				gap: 1rem;
				&__score {
					font-size: 1.5rem;
					font-weight: 500;
				}
				&__stars {
					display: flex;
					gap: 1rem;
				}
				&__count {
					font-weight: 500;
					color: rgb(117, 117, 117);
				}
			}
		}
		&__img {
			height: 500px;
			width: 100%;
			object-fit: cover;
		}
	}
	&__content {
		width: 60%;
		margin: 0 5rem 2rem 5rem;
		border-top: 1px solid rgba(255, 166, 0, 0.5);
		&__time {
			padding-top: 1.5rem;
		}
		&__rating {
			&__signin {
				width: 100%;
				background-color: orange;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 1rem 0;
				a {
					color: black;
				}
			}
		}
	}
}
