.recipe {
	&__container {
		height: 500px;
		width: 100%;
		margin: 0;
		margin-bottom: 4rem;
		&__summary {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&__title {
				padding: 1.5rem 0;
			}
			&__author {
				text-transform: uppercase;
			}
			&__date {
				font-size: 12px;
			}
			&__fav {
				height: 60px;
				margin: 2rem 0;
				button {
					height: inherit;
					width: fit-content;
					background-color: orange;
					padding: 0.25rem 0.75rem;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					border: none;
					transition: background-color 0.3s ease-in-out;
				}
				&:hover {
					button {
						background-color: #ff8e03;
					}
				}
			}
			&__review {
				display: flex;
				align-items: center;
				gap: 1rem;
				&__score {
					font-size: 1.5rem;
					font-weight: 500;
				}
				&__stars {
					display: flex;
					gap: 1rem;
				}
				&__count {
					font-weight: 500;
					color: rgb(117, 117, 117);
				}
			}
		}
		&__img {
			height: 500px;
			width: 100%;
			object-fit: cover;
		}
	}
	&__content {
		width: 60%;
		margin: 0 5rem 2rem 5rem;
		border-top: 3px solid rgba(255, 166, 0);
		&__time {
			padding-top: 1.5rem;
		}
		&__rating {
			&__signin {
				width: 100%;
				background-color: orange;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 1rem 0;
				a {
					color: black;
				}
			}
			&__star {
				display: flex;
				gap: 10px;
				margin-bottom: 2rem;
				align-items: center;
			}
			&__review {
				margin-bottom: 2rem;
				&__show {
					width: fit-content;
					font-size: 1.1rem;
					cursor: pointer;
					&:hover {
						color: #ff8e03;
					}
				}
				&__area {
					border: 1px solid orange;
					&:focus {
						border: 2px solid orange;
						box-shadow: 0px 0px 10px 2px orange;
					}
				}
			}
			&__submit {
				display: flex;
				justify-content: flex-end;
				button {
					font-size: 1.1rem;
					padding: 1rem 1.5rem;
					border: none;
					background-color: orange;
					&:hover {
						background-color: #ff8e03;
					}
				}
			}
		}
		&__reviews {
			margin: 2rem 0;
			&__list {
				margin-top: 1rem;
				list-style-type: none;
				&__item {
					width: 100%;
					height: fit-content;
					margin-bottom: 1rem;
					border-bottom: 1px solid #ff8e0341;
					padding: 1rem;
					&__container {
						&__context {
							display: flex;
							flex-direction: row;
							gap: 2rem;
							margin-bottom: 1rem;
							&__img {
								width: 40px;
								aspect-ratio: 1/1;
								border-radius: 100%;
								margin-right: 1rem;
							}
						}
						&__info {
							display: flex;
							flex-direction: row;
							align-items: center;
							margin-bottom: 1rem;
							gap: 20px;
							&__star {
								display: flex;
								gap: 7px;
							}
						}
					}
				}
			}
		}
	}
}
