.main-content {
	width: 85%;
	height: fit-content;
	margin: 2rem auto;
	display: flex;
	flex-direction: row;
	box-shadow: 1px 20px 20px 12px rgba(0, 0, 0, 0.23);
}

.background {
	flex: 1;
	background: url("../assets/images/background-vertical.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.form {
	flex: 1;
	&__title {
		width: fit-content;
		font-size: 2.3rem;
		margin-bottom: 1rem;
	}
	&__container {
		height: fit-content;
		width: 100%;
		padding: 1.5rem 2rem;
		background-color: white;
		&__nameGroup {
			display: flex;
		}
		&__name {
			@media screen and (max-width: 996px) {
				flex-basis: 100%;
			}
		}
		&__label,
		&__check {
			margin-top: 1rem;
		}
		&__label {
			font-weight: bold;
			&--required {
				color: red;
			}
		}
		&__input {
			border: 2px solid #ffa500ab;
			border-radius: 10px;
		}
		&__checked {
			display: flex;
			margin-top: 1rem;
			gap: 10px;
		}
		&__submit {
			width: 100%;
			margin: 1rem 0;
			border-radius: 10px;
			border: none;
			background-color: orange;
			transition: background-color 0.3s ease-out;
			&:hover {
				background-color: rgb(207, 135, 2);
			}
		}
		&__error {
			color: red;
		}
		&__bottom {
			text-align: end;
			a {
				text-decoration: none;
				color: orange;
				font-weight: 600;
				&:hover {
					color: rgb(207, 135, 2);
				}
			}
		}
	}
}
